<%= form_with model: @reservation, local: true do |form| %>
 
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@reservation.errors.count, "error") %> prohibited
        this reservation from being saved:
      </h2>
      <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <br>

 <div class="field">
  <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :reservation_first_name %>
  </div><br>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :reservation_last_name %>
  </div><br>

  <div class="field">
  <%= form.label :phone_number %>
  <%= form.text_field :phone_number, id: :reservation_phone_number %>
</div><br>


 <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ['available', 'unavailable']%>
  </div><br>

  <div class="field">
  <%= form.label :room_type %>
  <%= form.select :room_type, ['Single', 'Double', 'Delux']%>
</div><br>

  <div class="field">
  <%= form.label :number_of_people %>
  <%= form.select :number_of_people, [ 1, 2, 3, 4, 5 ]%>
</div><br>

<div class="field">
<%= form.label :"Do you have special request" %>
<%= form.text_area :description, id: :reservation_description %>
</div><br>


<p>
  <%= form.label :room_id %><br />
  <%= form.select :room_id, Room.all.collect { |b| [ b.id ]  } %>
</p><br>

<p>
  <%= form.label :hotel_id %><br />
  <%= form.select :hotel_id, Hotel.all.collect { |a| [ a.id ]  } %>
</p><br>


  <p>
    <%= form.submit "submit" %>
  </p>

<% end %>