<p>
  <strong>Fname:</strong>
  <%= @reservation.first_name %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @reservation.last_name %>
</p>

<p>
  <strong>phone number:</strong>
  <%= @reservation.phone_number %>
</p>

<p>
  <strong>status:</strong>
  <%= @reservation.status %>
</p>

<p>
  <strong>room type:</strong>
  <%= @reservation.room_type %>
</p>

<p>
  <strong>number of people:</strong>
  <%= @reservation.number_of_people %>
</p>

<p>
  <strong>description:</strong>
  <%= @reservation.description %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>