<h1>Booking Room </h1>
<%= form_with model: @room, local: true do |form| %>
 
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@room.errors.count, "error") %> prohibited
        this room from being saved:
      </h2>
      <ul>
        <% @room.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 


<div class="field">
  <%= form.label :room_number %><br />
  <%= form.select :room_id, Room.all.collect { |a| [ a.id ]  } %>
</div><br>


<div class="field">
    <%= form.label :room_type %>
    <%= form.select :room_type, ['Single', 'Double', 'Delux']%>
  </div><br>

  

  <div class="field">
    <%= form.label :price %>
    <%= form.select :price, ['15000', '20000', '25000', '30000', '35000', '40000']%>
  </div><br>



 


<div class="field">
  <%= form.label :hotel_id %><br />
  <%= form.select :hotel_id, Hotel.all.collect { |a| [ a.id ]  } %>
</div>

<p>
  <%= form.label :reservation_id %><br />
  <%= form.select :reservation_id, Reservation.all.collect { |b| [ b.id ]  } %>
</p>

 
  <p>
    <%= form.submit"book now" %>
  </p>
 
<% end %>