<p id="notice"><%= notice %></p>

<p>
  <strong> Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @room.phone %>
</p>

<p>
  <strong>check_in:</strong>
  <%= @room.check_in %>
</p>

<p>
  <strong>check_out:</strong>
  <%= @room.check_out %>
</p>

<p>
  <strong>number_of_nights:</strong>
  <%= @room.number_of_nights %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
