<p id="notice"><%= notice %></p>

<p>
  <strong>Room No:</strong>
  <%= @room.room_no %>
</p>

<p>
  <strong>Room Type:</strong>
  <%= @room.room_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Hotel Id:</strong>
  <%= @room.user_id %>
</p>

<p>
  <strong>Reservation Id:</strong>
  <%= @room.hotel_id %>
</p>



<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', room_path %>
